.jumbotron {
  background-color: #3F3FBF;
  margin-top: 50px;
  margin-bottom: 0px;
  color: white;
}
.btn {
  background-color: #007bff;
  color: white;
}
footer {
  background-color: #3F3FBF;
  color: black;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 0px;
}
body {
  background-color: white;
  color: black;
}
/* cuando colocamos la propiedad flex 1 le decimos que crezca 1 vez mas lo que queremos que crezca en % */
.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.img-fluid {
  width: 100%;
  height: 400px;
}
.tab-content {
  padding-top: 10px;
}
.font-slides {
  color: black;
}
.img-slides {
  width: 1400px;
  height: 400px;
}
