$blue :#3F3FBF;
$personalblue: #2a75bf;
$white:  #ffffff;
$turquoise_karen: #40E0D0;

@mixin margins ($top, $bottom) {
margin-top: $top;
margin-bottom: $bottom;
}
@mixin margins-1 ($left, $right){
margin-left: $left;
margin-right: $right;
}
@mixin paddins ($top, $bottom) {
padding-top: $top;
padding-bottom: $bottom;
}
@mixin paddins-1 ($padding-left, $padding-right) {
padding-left: $padding-left;
padding-right: $padding-right;    
}
@mixin background-color ($background-color){
    background-color: $background;
}
.jumbotron{
    background-color:$personalblue;
    @include margins(50px, 0px );
    color: white;
}
.btn{
    background-color: #007bff;
    color: white;
}
footer{
    background-color: lightblue;
    @include margins(40px, 0px );
    color: black;
    width: 100%;

}
body{
    background-color:$white;
    color: black;
}
/* cuando colocamos la propiedad flex 1 le decimos que crezca 1 vez mas lo que queremos que crezca en % */
.card-hotel{
    flex: 1 250px ;
    // margin-top: 10px;
    @include margins(20px, 0px );
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.img-fluid{
    width: 100%;
    height: 400px;
}
.tab-content{
    @include paddins(10px,0px );
}
.font-slides{
    color: black;
}
.img-slides{
    width: 1400px;
    height: 400px;
}