@purple: #3F3FBF;
@yellow: #ecfc03;
@red:    #fc0303;
@green:  #03fc0f; 

.margins (@top: 0px, @bottom: 0px){
margin-top: @top;
margin-bottom: @bottom;
}
.paddin(@top: 0px, @bottom: 0px){
    padding-top: @top;
    padding-bottom: @bottom;
}
.jumbotron {
background-color: @purple;
.margins (50px, 0px);
color: white; 
}
.btn {
background-color: #007bff;
color: white; }
footer {
background-color: @purple;
color: black;
width: 100%;
.margins (40px);  
}

body {
background-color: white;
color: black; }

/* cuando colocamos la propiedad flex 1 le decimos que crezca 1 vez mas lo que queremos que crezca en % */
.card-hotel {
flex: 1 250px;
.margins(10px, 0px); 
}

.btn-reserva {
width: 100%;
border-radius: 0px; }

.img-fluid {
width: 100%;
height: 400px; }

.tab-content {
.paddin(10px, 0px) 
}

.font-slides {
color: black; }

.img-slides {
width: 1400px;
height: 400px; }