.jumbotron {
  background-color: #2a75bf;
  margin-top: 50px;
  margin-bottom: 0px;
  color: white; }

.btn {
  background-color: #007bff;
  color: white; }

footer {
  background-color: lightblue;
  margin-top: 40px;
  margin-bottom: 0px;
  color: black;
  width: 100%; }

body {
  background-color: #ffffff;
  color: black; }

/* cuando colocamos la propiedad flex 1 le decimos que crezca 1 vez mas lo que queremos que crezca en % */
.card-hotel {
  flex: 1 250px;
  margin-top: 20px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.img-fluid {
  width: 100%;
  height: 400px; }

.tab-content {
  padding-top: 10px;
  padding-bottom: 0px; }

.font-slides {
  color: black; }

.img-slides {
  width: 1400px;
  height: 400px; }
